state data for tax reports.xlsx
state tax calc V3 CORRECT EDITION.sql
STATE TAX REVENUE CALCULATOR AND SORTER EVAN.sql
state tax-rev calc V2 (CONDENCED-CLEANED).sql
Svd - Revenue Tax breakdown - July 2024.xlsx
Test - Revenue Tax breakdown - July 2024.xlsx
